<app-header></app-header>
<div class="container">
  <div class="card">
  <h2 class="title2">Authorize open package </h2>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab aut commodi cum, dolores inventore ipsa labore natus, non odit optio praesentium quasi repudiandae! Dolor doloremque fugiat magnam minima quae ratione.</p>

    <form action="">
      <ul class="authotize-items">
        <li>
          <input type="checkbox">
          <div class="autorize__text">
            <h3>Open & send package</h3>
            <p class="small">Lorem ipsun dolor</p>
          </div>
        </li>
        <li>
          <input type="checkbox">
          <div class="autorize__text">
            <h3>Send package</h3>
            <p class="small">Lorem ipsun dolor</p>
          </div>
        </li>
        <li>
          <input type="checkbox">
          <div class="autorize__text">
            <h3>Leave in storage</h3>
            <p class="small">Lorem ipsun dolor</p>
          </div>
        </li>
      </ul>
      <div class="modal__action">
        <input type="text" class="btn" value="Authorize">
        <input type="text" class="btn btn--dark" value="Cancel">
      </div>
    </form>
  </div>
</div>
