<app-admin-header></app-admin-header>
<div class="container">
  <h2 class="title3">Let's upload a document</h2>
  <div class="component">
    <form>
      <input
        class="input"
        placeholder="Company"
        type="text"
      >
      <input
        class="input"
        placeholder="Email"
        type="text"
      >
      <textarea name="" id="" cols="30" rows="10" class="textarea" placeholder="Description"></textarea>
      <div class="authotize">
        <input type="checkbox">
        <p class="small">Autorizo abrir la correspondencia y paquetes</p>
      </div>
      <input
        class="input"
        placeholder="Select Document"
        type="text"
      >
      <p class="document"><strong>document.pdf</strong></p>
     <input class="btn" type="submit" value="Send Document">
    </form>
  </div>
</div>
